.cornersquare{
    content: '';
    width: 320px;
    height: 51px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #113333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.main {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 320 px;
    top: 52 px;
    height: calc(100% - 52px);
    width: calc(100% - 320px);
    padding: 0;
    margin: 0;
}

/* .position-handler { */
/*     position: Absolute; */
/*     width: 0; */
/*     height: 0; */
/* } */

/* .top { */
/*     top: 0px; */
/*     left: 0px; */
/* } */

/* .bottom { */
/*     right: 0px; */
/*     bottom: 0px; */
/* } */
