.miscspacetotoywith {
    content: '';
    width: 320px;
    height: 52px;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #113333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.main {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 320 px;
    bottom: 52 px;
    height: calc(100% - 52px);
    width: calc(100% - 320px);
    padding: 0;
    margin: 0;
}
