
/* .links line { */
/*   stroke: #999; */
/*   stroke-opacity: 0.6; */
/* } */

.dragline {
  /* stroke: #000; */
  stroke: green;
  stroke-width: 4; 
  stroke-opacity: 0.6;

}
.hiddendragline{
    stroke-opacity: 0;
}

.link {
    stroke: #999;
    /* stroke: black; */
    stroke-opacity: .8;
    stroke-width: 2;
}

.nodecircle {
    stroke: #fff;
    stroke-width: 1.5px;
    r: 8;
}
/* .nodes circle { */
/*   stroke: #fff; */
/*   stroke-width: 1.5px; */
/*   r: 8; */
/* } */

.selectednode{
    /* fill: green; */
    opacity: 0.6;
    r: 10;
    stroke: blue;
    stroke-width: 2px;
}

.node.fixed {
    fill: #f00;
}


/* text { */
.nodeLabel{
    /* fill: #000; */
    font: 10px sans-serif;
    pointer-events: none;
}

.hidden {
    /* text-indent: 100%; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    opacity: 0;
}
