.topbar {
    position: fixed;
    right: 320px;
    left: 0;
    top: 0;
    height: 50 px;
    background-color: #F2F2F2;
}

.topbar>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.topbar>ul>li {
    float: right;
    width: 100px;
}

.topbar>ul>li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.topbar>ul>li>a:hover {
    background-color: #111111;
}

#upload {
    visibility: hidden;
    width: 0;
    height: 0;
}

